/* Author: Sebastian Aguirre Duque
E-mail: sadw621@gmail.com */

@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;400;500&display=swap');
@import 'mixins';
@import 'variables';

body {
  font-family: 'Inconsolata', monospace;
  padding: 1.5em; //? Take a look if this padding make truble with other components
}

.cards_container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 1rem;
}

.card {
  width: 80%;
  border: 1px solid cyan;
  border-radius: 15px;
  padding: 1rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  @include center-elements;
}

.card_header {
  width: 100%;
  border-bottom: 2px solid cyan;
  display: flex;
  @include center-elements;
  margin: 0 auto;
}

.card_body {
  width: 100%;
  display: flex;
  @include center-elements;
  margin: 0 auto;
}

.hide {
  display: none;
}

.show {
  display: block;
}
